@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --boxColor: #f0f4f9;
  --secondaryFontColor: #5b5b5b;
}

* {
    text-decoration: none;
    color: black;
    font-family: 'Raleway';
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

button {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafafa;
  border-radius: 14px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border-radius: 14px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}