.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.user img {
    width: 36px;
}

.user .upgrade {
    font-size: 14px;
    font-weight: 500;
    background-color: var(--boxColor);
    padding: 10px;
    border-radius: 8px;
}