.business-plan-area {
    display: flex;
    padding: 12px;
    height: 82vh;
}

.business-plan-area > button {
    padding: 20px;
}

.business-plan-area > button img {
    width: 40px;
    transition: .4s;
}

.business-plan-area .business-plan {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: .4s;
}

.business-plan-area .business-plan {
    width: 600px;
    overflow: auto;
    background-color: var(--boxColor);
    flex-grow: 1;
    border-radius: 24px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.business-plan-area .business-plan > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.business-plan-area .business-plan > h1 {
    font-size: 24px;
}

.business-plan-area .business-plan > div > h2 {
    font-size: 20px;
    margin-bottom: 12px;
}

.business-plan-area .business-plan > div > p {
    line-height: 1.4;
}

.business-plan-area .business-plan > div li {
    margin-left: 24px;
}

.business-plan-area .business-plan-closed {
    width: 0;
    padding: 0;
}