.sideBar {
    padding: 20px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    background-color: var(--boxColor);
}

.sideBar img {
    width: 30px;
}

.sideBar .select-project-button {
    width: 182px;
    overflow: hidden;
    text-align: start;
    white-space: nowrap;
    font-size: 16px;
    transition: .4s;
    padding: 4px 8px;
}

.sideBar .select-project-button:hover {
    background-color: #b9bbbe;
    padding: 4px 8px;
    border-radius: 8px;
}