.newProject {
    width: fit-content;
    display: flex;
    align-items: center;
}

.newProject p {
    overflow: hidden;
    text-align: start;
    white-space: nowrap;
    font-size: 16px;
    transition: .4s;
}

.newProject img {
    width: 30px;
}

.newProject .closed {
    width: 0px;
}

.newProject .expanded {
    width: 140px;
    padding-left: 12px;
}