.sendMessage {
    height: 50px;
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 0 30px;
    margin-bottom: 12px;
    border-radius: 42px;
    background-color: var(--boxColor);   
}

.sendMessage input {
    flex-grow: 1;
    width: fit-content;
    font-size: 16px;
    font-weight: 500;
    color: var(--secondaryFontColor);
    padding: 2px;
}

.sendMessage input:focus {
    outline: none;
}

.sendMessage img {
    width: 20px;
}